cxf-soap-strong-type/src/main/resources/etc/testService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="WCFWebService1" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://amd.azurewebsites.net/WCFWebService1.svc?xsd=xsd0"
                        namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://amd.azurewebsites.net/WCFWebService1.svc?xsd=xsd1"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://amd.azurewebsites.net/WCFWebService1.svc?xsd=xsd2"
                        namespace="http://schemas.datacontract.org/2004/07/WebApplication1"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IWCFWebService1_HelloWorld_InputMessage">
        <wsdl:part name="parameters" element="tns:HelloWorld"/>
    </wsdl:message>
    <wsdl:message name="IWCFWebService1_HelloWorld_OutputMessage">
        <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
    </wsdl:message>
    <wsdl:message name="IWCFWebService1_Hello_InputMessage">
        <wsdl:part name="parameters" element="tns:Hello"/>
    </wsdl:message>
    <wsdl:message name="IWCFWebService1_Hello_OutputMessage">
        <wsdl:part name="parameters" element="tns:HelloResponse"/>
    </wsdl:message>
    <wsdl:message name="IWCFWebService1_Process_InputMessage">
        <wsdl:part name="parameters" element="tns:Process"/>
    </wsdl:message>
    <wsdl:message name="IWCFWebService1_Process_OutputMessage">
        <wsdl:part name="parameters" element="tns:ProcessResponse"/>
    </wsdl:message>
    <wsdl:portType name="IWCFWebService1">
        <wsdl:operation name="HelloWorld">
            <wsdl:input wsaw:Action="http://tempuri.org/IWCFWebService1/HelloWorld"
                        message="tns:IWCFWebService1_HelloWorld_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IWCFWebService1/HelloWorldResponse"
                         message="tns:IWCFWebService1_HelloWorld_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Hello">
            <wsdl:input wsaw:Action="http://tempuri.org/IWCFWebService1/Hello"
                        message="tns:IWCFWebService1_Hello_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IWCFWebService1/HelloResponse"
                         message="tns:IWCFWebService1_Hello_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Process">
            <wsdl:input wsaw:Action="http://tempuri.org/IWCFWebService1/Process"
                        message="tns:IWCFWebService1_Process_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IWCFWebService1/ProcessResponse"
                         message="tns:IWCFWebService1_Process_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IWCFWebService1" type="tns:IWCFWebService1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HelloWorld">
            <soap:operation soapAction="http://tempuri.org/IWCFWebService1/HelloWorld" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Hello">
            <soap:operation soapAction="http://tempuri.org/IWCFWebService1/Hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Process">
            <soap:operation soapAction="http://tempuri.org/IWCFWebService1/Process" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WCFWebService1">
        <wsdl:port name="BasicHttpBinding_IWCFWebService1" binding="tns:BasicHttpBinding_IWCFWebService1">
            <soap:address location="http://amd.azurewebsites.net/WCFWebService1.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>